<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random canvas circles</title>
    <style>
        html {
            width: 100%;
            height: inherit;
            background: #ddd;
        }

        canvas {
            display: block;
        }

        body {
            margin: 0;
        }

        button {
            position: absolute;
            top: 5px;
            left: 5px;
        }
    </style>
</head>
<body>
    <button>Update</button>
</body>
<script type="application/ecmascript" src="../javascripts/randomCircle.js"></script>
</html>